$white: #ffffff;
$black: #000000;
$blue: #009fe3;
$grey: #3a3a38;
$light-grey: #818181;

/* tipografías */
@mixin h1 {
    font-size: 22px;
    font-weight: bold;
}

@mixin h2 {
    font-size: 16px;
    font-weight: bold;
}

@mixin h3 {
    font-size: 15px;
    font-weight: bold;
}

@mixin h4 {
    font-size: 15px;
    font-weight: lighter;
}

@mixin h5 {
    font-size: 11px;
    font-weight: bold;
}

@mixin h6 {
    font-size: 11px;
    font-weight: lighter;
}

@mixin boton_h1 {
    font-size: 16px;
    font-weight: normal;
    ;
}

@mixin boton_h2 {
    font-size: 14px;
    font-weight: normal;
}

@mixin boton_h3 {
    font-size: 9px;
    font-weight: normal;
}



@mixin white-gradient {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 7))
	}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	@media (min-width: 320px) and (max-width: 768px) { 
	
		  height: 100%!important;
		  width: auto;
		  
		}
		@media (max-width: 1024px){
		
			  width: 100%!important;
			}
		.slide{
			@media (min-width: 667px) and (max-width: 668px) { 
				width: 100%;
			  }	
			  @media (min-width: 320px) and (max-width: 767.98px) { 
		
				  width: 100%;
				}@media (min-width: 320px) and (max-width: 767.98px) { 
					
					  width: 100%;
					}
		}
			
			  	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}

	.slide {
		height: 100px;
		width: 250px;
	}
}

.jumbotron {
	border-radius: 0 !important;
}

.cajados {
	margin-bottom: 0 !important;
	box-shadow: 0 0 10px gray;
	top: -3px;
	height: 297px;
 	position: relative;
	z-index: 100; 
	background-color: $white;
	background: url("../img/otros/Trama-Partners-Zoom.png");
	background-size: cover;
	text-align: center;
	background-color: $white;

	h1 {
        @include h1;
        padding: 0 2em 0 2em;
    }
	
	@media (min-width: 768px) and (max-width: 800px) {

		height: auto;
	}

	@media (min-width: 320px) and (max-width: 767.98px) {

		height: auto !important;
	}
	hr.medio2{
		color: #3A3A38;
		border-top: 1px solid #3A3A38 !important ;
		position: relative;
		top: -2px;
	  }
}

