/* esquema de colores */
$white: #ffffff;
$black: #000000;
$blue: #009fe3;
$grey: #3a3a38;
$light-grey: #818181;

/* tipografías */
@mixin h1 {
    font-size: 22px;
    font-weight: bold;
}

@mixin h2 {
    font-size: 16px;
    font-weight: bold;
}

@mixin h3 {
    font-size: 15px;
    font-weight: bold;
}

@mixin h4 {
    font-size: 15px;
    font-weight: lighter;
}

@mixin h5 {
    font-size: 11px;
    font-weight: bold;
}

@mixin h6 {
    font-size: 11px;
    font-weight: lighter;
}

@mixin boton_h1 {
    font-size: 16px;
    font-weight: normal;
    ;
}

@mixin boton_h2 {
    font-size: 14px;
    font-weight: normal;
}

@mixin boton_h3 {
    font-size: 9px;
    font-weight: normal;
}

@font-face {
    font-family: 'camptonbold_demo';
    src: url('campton-bold-webfont.eot');
    src: url('campton-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('campton-bold-webfont.woff2') format('woff2'),
        url('campton-bold-webfont.woff') format('woff'),
        url('campton-bold-webfont.ttf') format('truetype'),
        url('campton-bold-webfont.svg#camptonbold_demo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'camptonlight_demo';
    src: url('campton-light-webfont.eot');
    src: url('campton-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('campton-light-webfont.woff2') format('woff2'),
        url('campton-light-webfont.woff') format('woff'),
        url('campton-light-webfont.ttf') format('truetype'),
        url('campton-light-webfont.svg#camptonlight_demo') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: campton;
    .main{
        background-color: #f9f9f9;
    }
}
.navbar{
    .contenedor-perfil{
        @media (min-width: 1025px){
           height: 120vh!important; 
        }        
        @media (min-width: 769px) and (max-width: 1024px){
        height: 140vh !important;
        }   
        @media (max-width:768px){
            height: auto !important;
        } 
    }
}


/*horas donadas*/

.horas {
    margin-top: 40px;

    .contenedor-horas {
        border: 1px solid #dadada;
        padding-top: 15px;
        padding-bottom: 15px;

        @media (min-width: 993px) {
            border: none;
        }
        @media (max-width: 992px) {
            border-radius: 22px;
        }

        .cero,
        .seis {
            border: 1px solid #dadada;
            border-radius: 22px;

            @media (max-width: 992px) {
                border: none;
            }

            @media (min-width: 993px) {
                padding: 15px 0 15px 0;
            }
        } 
    }

    h2 {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 20px;
        @media (max-width: 375px){
            font-size: 15px;
        }
    }

    h1 {
        color: white;
        font-size: 30px;
        font-weight: bold;
        margin: 0;
    }

    h3 {
        margin-top: 20px;
        font-size: 14px;
        font-weight: normal;
    }

    .cuadro {
        height: 90px;
        width: 90px;
        margin: auto;
        display: flex;
        border-radius: 10px;
        justify-content: center;
        align-items: center;

        &.tres {
            background-color: #2857b4;
        }

        &.cinco {
            background-color: #1b9dd9;
        }
    }

    .boton {
        @media (max-width: 992px) {
            margin-top: 30px;
            margin-bottom: 40px;
        }

        button {
            color: white;
            background-color: #1b9dd9;
            border-radius: 22px;
            margin: auto;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.prox_reuniones{
    .card{
           @media (min-width:768px) and (max-width:992px){
        margin-left: 200px;
         } 
    }

    
}

/* TABLA HORAS DONADAS */
.contenedor-tabla {
    padding: 20px 15px 20px 15px;
    h4{
        font-weight: bold;
        text-align: center;
        font-size: 22px;
    }
    hr{
        border-top: .5px solid $light-grey;
    }
    .table {
        background-color: $white;
        border-spacing: 0;
        border-radius: 22px;
        overflow: hidden;        

        @media (max-width: 576px) {
            table-layout: fixed;
            width: 100%;
        }

        th,
        td {
            vertical-align: middle;
            font-size: 12px;
            @media (max-width: 576px) {
                width: 100px;
                word-wrap: break-word;
            }
        }

        thead {
           
            tr {
                .th-desktop-active {
                    @media (max-width: 576px) {
                        display: none;
                    }
                }
            }
        }

        tbody {
            vertical-align: middle;
            tr {
                td {
                    padding: 12px 0 12px 0;
                }

                .td-desktop-active {
                    @media (max-width: 576px) {
                        display: none;
                    }
                }
            }

            .tr-mobile-active {
                @media (min-width: 576px) {
                    display: none;
                }
            }
        }

        .boton-azul {
            background-color: #2857b4;
            width: 100%;
            border-radius: 22px;
            color: $white;
            font-weight: lighter;
            font-size: 12px;
        }

        .boton-negro {
            background-color: $black;
            width: 100%;
            border-radius: 22px;
            color: $white;
            font-weight: lighter;
            font-size: 12px;
        }
    }
}


/*nuestros partners */


.linea {
    height: 0;

    .azul {
        height: 5px;
        width: 218px;
        margin-top: -25px;
        background-color: transparent;

    }
}


/* footer */
.footer {
    background-color: #000000;
    padding: 3em;

    .fas {
        font-weight: 200 !important;
    }

    .logo-footer {
        height: 90px;

        @media (min-width: 992px) {
            height: 70px;
        }
    }

    .nuestros-contactos,
    .nuestra-direccion,
    .conecta {
        padding-top: 1em;

        @media (min-width: 992px) {
            padding-top: 0;
        }
    }

    .icono_footer {
        width: 11px;
        height: 11px;
    }

    .h5_footer {
        @include h5;
        color: $light-grey;
    }

    .h6_footer {
        @include h6;
        color: $white;

    }

    span {
        padding-right: 10px;
    }

    .conecta {
        width: 30%;

        .rrss {
            height: 15px;
        }
    }
}